<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset='UTF-8'/>
    <title>Benjamin Winchester</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'scripts/index.js' %}"></script>

</head>
    <body>
<!--    <div class="header_footer_section">-->

<!--      <h1>Benjamin M. Winchester</h1>-->

<!--      <p>Make the computer do the thing...</p><br>-->

<!--      <p> -->
<!--        <a href="https://wwww.linkedin.com/in/benjamin_m_winchester"><img class="social" src="{% static 'images/linkedin-logo.png' %}"> </a>-->
<!--        <a href="https://www.github.com/bmw2621"><img class="social" src="{% static 'images/github-logo.png' %}"> </a>-->
<!--        <a href="https://codepen.io/bmw2621/"><img class="social" src="{% static 'images/codepen-logo.png' %}"> </a>-->
<!--        <a href="https://twitter.com/b_m_winchester"><img class="social" src="{% static 'images/twitter-logo.png' %}"> </a>-->
<!--          <a href="/"><img class="social" src="{% static 'images/resume-logo.png' %}"> </a>-->
<!--          <a href="/blog"><img class="social" src="{% static 'images/blog-logo.png' %}"> </a>-->
<!--      </p>-->

<!--    </div>-->
    <nav class="isHiddenTop" id="nav">
            <img id="github" class="socialMediaLogo" src="{% static '/images/github-logo.png' %}" alt="">
            <img id="codepen" class="socialMediaLogo" src="{% static '/images/codepen-logo.png' %}" alt="">
            <img id="twitter" class="socialMediaLogo" src="{% static '/images/twitter-logo.png' %}" alt="">
            <img id="linkedin" class="socialMediaLogo" src="{% static '/images/linkedin-logo.png' %}" alt="">
            <div class="empty"></div>
        </nav>
        <div class="hamburger" id="hamburger">
            <div class="hamburgerSlice"></div>
            <div class="hamburgerSlice"></div>
            <div class="hamburgerSlice"></div>
        </div>
    </nav>

    <div class="code_block headBlock">
        <div id="pic"><img src="{% static 'images/ben.jpg' %}" alt=""></div>
        <div id="head">ben@bwinDev<br>------------------</div>
        <div id="row1">Name:</div> <div id="text1">Benjamin Winchester</div>
        <div id="row2">Title:</div> <div id="text2">Web Developer</div>
        <div id="row3">Home:</div> <div id="text3">Savannah, GA</div>
        <div id="row4">Email: </div><div id="text4">benjamin.m.winchester@gmail.com</div>
        <div id="row5">Quote:</div> <div id="text5">
            <div id="quote">If you can dream&#45;&#45;and not make dreams your master;<br>
                                     If you can think--and not make thoughts your aim;<br>
                                     ...<br>
                                     If you can talk with crowds and keep your virtue;<br>
                                     Or walk with Kings--nor lose the common touch,<br>
                                     ...<br>
                                     Yours is the Earth and everything that's in it,<br>
                                     And--which is more--you'll be a Man, my son!<br>
                                             <p style="text-align: right;">~Rudyard Kipling, excerpt from "If"</p></div>
    </div>
        <div id="row6">
            <div class="colors">
                <div class="color" style="background-color: #9D403C;"></div>
                <div class="color" style="background-color: #737573;"></div>
                <div class="color" style="background-color: #E3B97D;"></div>
                <div class="color" style="background-color: #72A1B2;"></div>
                <div class="color" style="background-color: #AB7FA1;"></div>
                <div class="color" style="background-color: #17AC8E;"></div>
                <div class="color" style="background-color: #C6C6C6;"></div>
            </div>
        </div>
        <div id="foot">[<b>ben</b>@<b>bwinDev</b> ~]<b>$</b> _</div>
<!--        <table id="mainTable">-->
<!--          <tbody>-->
<!--            <tr>-->
<!--              <td class="left_col">-->
<!--                <img src="{% static 'images/ben.jpg' %}" height=200 align="top">-->
<!--              </td>-->
<!--              <td class="right_col">-->
<!--                  <table>-->
<!--                      <tbody>-->
<!--                        <td>-->
<!--                            <td colspan="2"></td><b>ben</b>@<b>bmw2621.github.io</b><br>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Name:</td>-->
<!--                            <td> Benjamin winchester</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Home:</td>-->
<!--                            <td>Savannah, GA</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Title:</td>-->
<!--                            <td>Python Developer</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Email:</td>-->
<!--                            <td>benjamin.m.winchester@gmail.com</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Quote:</td>-->
<!--                            <td>-->
<!--                                <div id="quote">If you can dream&#45;&#45;and not make dreams your master;<br>-->
<!--                                     If you can think&#45;&#45;and not make thoughts your aim;<br>-->
<!--                                     ...<br>-->
<!--                                     If you can talk with crowds and keep your virtue;<br>-->
<!--                                     Or walk with Kings&#45;&#45;nor lose the common touch,<br>-->
<!--                                     ...<br>-->
<!--                                     Yours is the Earth and everything that's in it,<br>-->
<!--                                     And&#45;&#45;which is more&#45;&#45;you'll be a Man, my son!<br>-->
<!--                                             <p style="text-align: right;">~Rudyard Kipling, excerpt from "If"</p></div>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td></td>-->
<!--                            <td>-->
<!--                                 <div class="colors">-->
<!--                                     <div class="color" style="background-color: #9D403C;"></div>-->
<!--                                     <div class="color" style="background-color: #737573;"></div>-->
<!--                                     <div class="color" style="background-color: #E3B97D;"></div>-->
<!--                                     <div class="color" style="background-color: #72A1B2;"></div>-->
<!--                                     <div class="color" style="background-color: #AB7FA1;"></div>-->
<!--                                     <div class="color" style="background-color: #17AC8E;"></div>-->
<!--                                     <div class="color" style="background-color: #C6C6C6;"></div>-->
<!--                                 </div>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                      </tbody>-->
<!--                  </table>-->


<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan="2">[<b>ben</b>@<b>bwinDev</b> ~]<b>$</b> _</td>-->
<!--            </tr>-->
<!--          </tbody>-->
<!--        </table>-->
    </div>

        {% for post in posts %}
            <div class="code_block">
                <h2 class="post_title">{{ post.title }}</h2>
                <p class="timestamp">published: {{ post.published_date }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>